
.bg {
  background-image: url("https://cdn.shopify.com/s/files/1/1733/4907/files/Special_Drop_2.3_Landscape_9_1800x.jpg?v=1616642430%201800w");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}